.container-card{
    background-color: rgba(0, 0, 0, 0.5);
    display:inline-block;
    padding: 25px;
    width: 14em;
    border: solid #313131;
    border-radius: 8px;
    margin:30px;
    
}
.container-card h1 {
    font-size: 20px;
    color:#ababab;
}

.container-card p {
    font-size: 14px;
    color:#ababab;
}
.img-card{
     filter: brightness(0) saturate(100%) invert(35%);
    width: 80px;
}